
@{
    ViewBag.Title = "UploadSingleFile";
}

<h2>Index</h2>
<body>
    <form action="~/FileUpload/UploadSingleFile" method="post" enctype="multipart/form-data">
        <input type="file" name="FileUpload1" /><br />
        <input type="file" name="FileUpload1" /><br />
        <input type="file" name="FileUpload1" /><br />
        <input type="file" name="FileUpload1" /><br />
        <input type="submit" name="Submit" id="Submit" value="Upload" />
    </form>
</body>


