<?xml version="1.0" encoding="utf-8"?>
<!-- configuration startup等等这些都是xml标签约束 -->
<configuration>
    <startup> 
      <!--supportedRuntime指定应用程序支持的公共语言运行时版本-->
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<!-- copy from other project-->
 
  <!--configSections指定公共语言运行时和 .NET Framework 应用程序所使用的每个配置文件中均需要的根元素。-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!--指定log4net使用的根元素-->
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  
  <!--数据库连接字符串配制-->
  <connectionStrings>
    <add name="MoliRESTApiContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=MoliRESTApiContext-20161221164725; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MoliRESTApiContext-20161221164725.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <!--应用配置-->
  <appSettings>
    <add key="mysql_connectionStr_vod" value="Server=192.168.100.249;Database=molivideo20_vod;Uid=sa;Pwd=1234.asd@MoliTV;Pooling=true;Min Pool Size=10;Max Pool Size=20;Charset=utf8;"/>
    <add key="mysql_connectionStr_fresh" value="Database='molivideo20_fresh';Data Source='192.168.100.249';User Id='root';Password='yCm!$vgpZy8POoLB';charset='utf8'"/>
    <add key="EsUri" value="http://192.168.100.249:9200"/>
    <add key="MoliServerDAL" value="MoliServer30.LegacyDAL"/>

    <!-- config for static resource -->
    <!--<add key="StaticResourceConnection" value="Database='static_resource';Data Source='192.168.100.249';User Id='root';Password='yCm!$vgpZy8POoLB';charset='utf8'" />-->
    <add key="StaticResourceConnection" value="Database='test';Data Source='localhost';User Id='root';Password='';charset='utf8'"/>
    <add key="UploadedFileSavedPath" value="e:\upload"/>
    <add key="UploadedFileUrlPathPrefix" value="http://www.exmple.com/path"/>
    <add key="MaxFilesCountPerDir" value="10"/>
    <add key="DBConnectionString" value="Data Source=labserver;Initial Catalog=MoliVideo20_Dev;User ID=sa;Password=1234.asd;"/>
  </appSettings>
  
  <log4net>
    <!--一般信息日志-->
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <file value="../MoliRESTApiLog/"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <datePattern value="yyyyMMdd&quot;.log&quot;"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date %-5level %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="ErrorLog"/>
    </root>
  </log4net>

  <!--system.web指定 ASP.NET 配置节的根元素，并包含用于配置 ASP.NET Web 应用程序和控制应用程序行为的配置元素。-->
  <system.web>
    <!--compilation包含 ASP.NET 使用的所有编译设置-->
    <compilation debug="true" targetFramework="4.5.2"/>

    <!--httpRuntime配置 ASP.NET="" HTTP="" 运行时设置。=""
该节可以在计算机、站点、应用程序或子目录级别声明。-->
    <httpRuntime targetFramework="4.5.2" requestPathInvalidCharacters=""/>
  </system.web>
  <!-- system.webServer 节用于指定适用于 Web 应用程序的 IIS 7.0 设置/配置。-->
  <system.webServer>
    <!--处理程序（handlers 元素）-->
    <handlers>
      <remove name="WebDAV"/>
      <remove name="SimpleHandlerFactory-Integrated-4.0"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <!--还可以指定前端的http方法-->
      <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG,PUT" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
      
      <add name="MoliServer30.MoliRESTApi.WebApiApplication2" path="*.molitv" verb="*" type="MoliServer30.MoliRESTApi.WebApiApplication" resourceType="File" preCondition="integratedMode"/>
      <add name="MoliServer30.MoliRESTApi.WebApiApplication" path="*.fresh" verb="*" type="MoliServer30.MoliRESTApi.WebApiApplication" resourceType="File" preCondition="integratedMode"/>
    </handlers>
    <!--模块（modules 元素）-->
    <modules>
      <remove name="UrlRoutingModule-4.0"/>
      
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition=""/>
      
      <remove name="WebDAVModule"/>
    </modules>
  </system.webServer>
  
  <runtime>
    <!--绑定程序集。还可以将第三方引用库的版本修改只要被引用程序集能够向后兼容-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.codedom>
    <!--编译配置-->
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <!--实体框架配置-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
