<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="ConnectionString" value="Data Source=moliserver3\MOLISQLSERVER;Initial Catalog=MoliVideo20_Dev;User ID=sa;Password=1234.asd;Timeout=300;"/>
 <add key="MySQL_ConnectionString" value="Server=localhost;Database=test;Uid=root;Pooling=true;Min Pool Size=10;Max Pool Size=20;Charset=utf8;" />
</appSettings>
</configuration>